/* Denna fil skall innehålla din CSS kod */
body {
    display: grid;
    margin: 0px;
    min-width: 97vw;
    min-height: 180vh;
    background-color: #b58b63;
    
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d"
    "e";

    grid-template-rows:
    2fr
    1fr
    7fr
    7fr
    2fr;

    grid-template-columns: 
    1fr;
}

#header1, #nav1, #section1, #section2, #footer1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
}

#header1 {
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    background-color: #b58b63;
    border-right: black ridge;
    border-top: black ridge;
    border-left: black ridge;
    border-width: 6px;
    ;
    
}

#nav1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    grid-area: b;
    background-color: #b58b63;
    border: black;
    border-style:ridge;
    border-width: 6px;
}

#a1, #a2, #a3 {
    background-color: #a5b58d;
    color: black;
    font-weight: bold;
    border-radius: 4px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
      
}


#section1 {
    grid-area: c;
    background-color: #b58b63;
    font-size: 40px;
    font-weight: bolder;
    
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.65) 100%), url("/img/CoffeeImage.jpg");
    padding-top: 18vh;
    padding-left: 15vh;

}

#section2 {
    grid-area: d;
    background: linear-gradient(to top, #ac7a48 0%, #b58b63);

    background-color: #f6efe8;
    border: black;
    border-style:ridge;
    border-width: 6px;
}

#footer1 {
    grid-area: e;
    background-color: #a5b58d;
    border-right: black ridge;
    border-bottom: black ridge;
    border-left: black ridge;
    border-width: 6px;
}